<% if (site.posts.length > 0) { %>
  <% site.posts.sort('date', -1).limit(10).each(function(post) { %>
    <article class="post">
      <header class="entry-header">
        <h2 class="entry-title">
          <a href="<%= config.root + post.path %>"><%= post.title %></a>
        </h2>
        <div class="entry-meta">
          <% if (post.date) { %>
            <span class="posted-on">
              <time datetime="<%= post.date.toJSON() %>">
                <%=date(post.date)%>
              </time>
            </span>
          <% } %>
        </div>
      </header>

      <div class="entry-content">
        <%- post.content %>
      </div>
    </article>
  <% }); %>
<% } %>
