<%
var categoriesList = list_categories({ show_count: false }),
  tagsList = list_tags({ show_count: false }),
  archivesList = list_archives({ show_count: false });
%>

<% if (!is_year()) { %>
  <div id="archive">
    <h1>Archives</h1>

    <% if (theme.atom) { %>
      <p>
        The feed is available via
        <a href="<%=theme.atom%>">atom</a>.
      </p>
      <br>
    <% } %>

    <% if (categoriesList) { %>
      <aside>
        <h2>Categories</h2>
        <%-categoriesList%>
      </aside>
      <br>
    <% } %>

    <aside>
      <h2>By tag</h2>
      <% if (tagsList) { %>
        <%-tagsList%>
      <% } else { %>
        <p>None.</p>
      <% } %>
    </aside>
    <br>

    <aside>
      <h2>By month</h2>
      <% if (archivesList) { %>
        <%- archivesList %>
      <% } else { %>
        <p>None.</p>
      <% } %>
    </aside>

  </div>
<% } else { %>
  <h1><%= moment(page.date).format('MMMM YYYY') %></h1>

  <% page.posts.each(function(post) { %>
    <%- partial('partials/post', { post: post }) %>
  <% }); %>
<% } %>

<%- partial('partials/pagination') %>
