<article class="post">
  <header class="post__header">
    <h2 class="post__title">
      <%= page.title %>
    </h2>
    <div class="post__meta">
      <% if (page.date) { %>
        <span class="post__date">
          <time datetime="<%= page.date.toJSON() %>">
            <%= date(page.date) %>
          </time>
        </span>
      <% } %>
    </div>
  </header>
  <%- page.content %>

  <%- partial('partials/tags', { tags: page.tags} ) %>
</article>

<%- partial('partials/pagination') %>
